$background-main-color: #242a34;
$secondary-main-color: #ec7923;

#cookie-law-info-again {
    display: none !important;
}

.post-media-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buddypress:not(.youzer){
    #profile-content__nav ul li > a {
        text-transform: capitalize;
    }

    div#item-header .profile-header__body .item-activity .activity {
        text-transform: none;
    }
}

.page-template-listing-posts,
.page-template-category-ht_kb-template {
    .content-area {
        .site-content {
            &.region {
                padding: 0px;

                .region--container-fluid {
                    .region__container {
                        padding: 0px;
                    }
                }
            }
        }
    }
}

.bp-card-list {
    // Members and friends only
    &.bp-card-list--category {
        .bp-card-list__item {
            padding: 0 8px;
            margin-bottom: 16px;
            background: none;
            box-shadow: none;
            border: none;
            overflow: visible !important;

            @media screen and (min-width: 992px) {
                max-width: (100% / 3);
                flex: 0 0 (100% / 3);
            }
            @media screen and (min-width: 1200px) {
                max-width: (100% / 4);
                flex: 0 0 (100% / 4);
            }
            @media screen and (min-width: 1600px) {
                max-width: (100% / 5);
                flex: 0 0 (100% / 5);
            }

            @media screen and (max-width: 768px) and (min-width: 300px) {
                max-width: 50%;
                flex: 0 0 50%;
            }

            .region--9-3-cols-left &,
            .region--3-9-cols-left & {
                .buddypress.directory.members & {
                    @media screen and (min-width: 992px) {
                        max-width: (100% / 3);
                        flex: 0 0 (100% / 3);
                    }
                }
            }

            .ovh {
                & > .item-meta {
                    display: none !important;
                }
            }

            .card-footer {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
        }
    }
}

.bbp-forums.ht-posts-list {
    position: relative;

    &:not(.ajax--loaded) {
        min-height: 1500px;
    }

    &.ajax--loaded .dashboard--fake {
        display: none !important;
    }

    .dashboard--fake {
        display: grid;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        overflow: hidden;

        .dashboard--fake__item {
            height: 150px;
            border-radius: 0.3rem;
            -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-iteration-count: 30;
            animation-iteration-count: 30;
            -webkit-animation-name: htCategoryFakeItem;
            animation-name: htCategoryFakeItem;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            background-size: 100px 104px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 8%, rgba(0, 0, 0, 0.05) 18%, rgba(0, 0, 0, 0.1) 33%);
            position: relative;
            margin-bottom: 20px;
            display: inline-block;
            width: 100%;
        }
    }
}

@keyframes htCategoryFakeItem {
    0%{
        background-position: -750px 0
    }
    100%{
        background-position: 750px 0
    }
}

.aside-fake {
    .aside--fake__item {
        .contents-fake {
            li {
                height: 50px;
                border-radius: 0.3rem;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-iteration-count: 30;
                animation-iteration-count: 30;
                -webkit-animation-name: asideFakeItem;
                animation-name: asideFakeItem;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                background-size: 100px 104px;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 8%, rgba(0, 0, 0, 0.05) 18%, rgba(0, 0, 0, 0.1) 33%);
                position: relative;
                margin-bottom: 20px;
                display: inline-block;
                width: 100%;

                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
            margin-bottom: 0px;
        }

        .title-fake {
            span {
                color: transparent !important;
                border-radius: 0.3rem;
                
                -webkit-animation-duration: 1s;
                animation-duration: 4s;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-iteration-count: 30;
                animation-iteration-count: 30;
                -webkit-animation-name: asideFakeItem;
                animation-name: asideFakeItem;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                background-size: 90px 30px;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 8%, rgba(0, 0, 0, 0.05) 18%, rgba(0, 0, 0, 0.1) 33%);
            }
        }
    }
}

@keyframes asideFakeItem {
    0%{
        background-position: -250px 0
    }
    100%{
        background-position: 250px 0
    }
}

@keyframes asideFakeItemTitle {
    0%{
        background-position: -80px 0
    }
    100%{
        background-position: 80px 0
    }
}

.acf-form-fields {
    display: inline-block;

    .acf-field {
        margin: 15px 5px 0 5px !important;

        .acf-label {
            display: inline-block;
    
            label {
                margin: 0 0 0px !important;
                color: #fff;
                background: #6c7293;
                padding: 0 5px !important;
                vertical-align: middle !important;
                border-radius: 500px;
                padding-left: 10px !important;
                padding-right: 10px !important;
                letter-spacing: 1px;
                font-size: 1em;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 2.2em;
                height: auto;
                display: inline-block !important;

                .acf-required {
                    color: #fff;
                }
            }

            p.description {
                margin: 10px 0 5px;
            }
        }
    
        .acf-input {
            textarea,
            select {
                background-color: #fff;
                padding: 10px 20px;
            }
    
            .acf-true-false {
                input[type=checkbox], 
                input[type=radio] {
                    border: 1px solid #7e8993;
                    border-radius: 4px;
                    background: #fff;
                    color: #555;
                    clear: none;
                    cursor: pointer;
                    display: inline-block;
                    line-height: 0;
                    height: 1rem;
                    margin: -.25rem .25rem 0 0;
                    outline: 0;
                    padding: 0!important;
                    text-align: center;
                    vertical-align: middle;
                    width: 1rem;
                    min-width: 1rem;
                    -webkit-appearance: none;
                    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
                    transition: .05s border-color ease-in-out;
                }
    
                input[type=checkbox]:checked::before {
                    content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%231e8cbe%27%2F%3E%3C%2Fsvg%3E);
                    margin: -.1875rem 0 0 -.25rem;
                    height: 1.3125rem;
                    width: 1.3125rem;
                    float: left;
                    display: inline-block;
                    vertical-align: middle;
                    speak: none;
                    -webkit-font-smoothing: antialiased;
                }
            }
    
            input[type=text] {
                width: calc(100% - 10px) !important;
                height: 30px !important;
                background: #FFF !important;
                box-shadow: none;
                border: 1px solid #b5b5b5 !important;
                padding: 5px !important;
                font-size: 14px !important;
                font-weight: bold !important;
                color: #525252 !important;
                box-sizing: content-box;
                margin: 0 !important;
                border-radius: 0.3rem;
                line-height: 1.25;
                display: block;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
        }
    }
}

.acf-form {
    &-submit {
        margin: 15px 17px 0 17px !important;
    }
}

.social-articles-main {
    .comments-listing {
        padding-left: 0px;
        margin-top: 30px;

        &,
        ul {
            list-style: none;
        }

        article {
            padding-bottom: 0px;
            margin-bottom: 15px;

            .comment-author {
                margin-right: 5px;
            }

            .comment-metadata {
                & > a {
                    pointer-events: none;
                    cursor: default;
                }
                .edit-link {
                    float: right;
                    right: 30px;
                    position: absolute;
                }
            }

            .comment-content {
                margin-top: 15px;
            }
        }
    }
}

.the_champ_horizontal_counter,
.the_champ_horizontal_sharing {
    margin-top: 20px;
}

#buddypress form.standard-form .main-column ul#friend-list {
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-height: 700px;
    overflow-y: scroll;

    li {
        margin-bottom: 30px;
    }
}

// Reveal animation
#hero .grimlock-reveal-element[data-grimlock-animate-scroll-reveal],
#custom_header .grimlock-reveal-element[data-grimlock-animate-scroll-reveal],
.grimlock-section .region__col > .grimlock-reveal-element[data-grimlock-animate-scroll-reveal] {
	&:not([style*="visibility"]) {
		visibility: visible;
	}
}

.home-page {
    &.grimlock--navigation-fixed.grimlock--navigation-fixed {
        &-left,
        &-right {
            #custom_header {
                margin-top: 1.6vw;
                margin-bottom: 1.6vw;
            }

            .site-content > .region__container {
                padding-top: 0px;
            }
        }
    }
}

.buttonizer.buttonizer-desktop-has-1 .buttonizer-button.button-desktop-1 {
    width: 60px;
    height: 60px;
}

.call-us-button-wrapper {
    position: fixed;
    z-index: 99999;
    transition: ease-in-out 250ms;
    right: 80px;
    bottom: 20px;

    .call-us-button {
        width: 60px;
        height: 60px;
        left: 0 !important;
        bottom: 0 !important;
        opacity: 1;
        visibility: visible;
        transform: scale(1);

        background-color: rgba(236,121,35,1);
        border-radius: 50%;
        color: rgba(255,255,255,1);

        display: block;
        cursor: pointer;
        outline: none;
        position: relative;
        max-width: none !important;
        color: #FFFFFF;
        background-color: rgba(236,121,35,1);
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        text-align: center;
        text-decoration: none;
        margin-top: 5px;

        &-label {
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            font-size: 12px;
            white-space: nowrap;
            padding: 5px 15px;
            height: auto !important;
            line-height: initial;
            background-color: rgba(236,121,35,1);
            color: rgba(255,255,255,1);
            right: 65px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            color: rgba(255,255,255,1);
            font-size: 25px;
        }
    }
}

.menu-item-call-us {
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            margin-right: 5px;
        }

        &:hover {
            background-color: $secondary-main-color !important;
        }

        .phone_number_wrapper {
            display: block;
            line-height: 1;

            .phone_number_label {
                font-size: 0.7em;
            }
        }
    }

    &.mobile {
        right: 60px;
        position: absolute;
        padding: 0rem;

        .btn {    
            padding: 0.3rem 1rem;
        }
    }
}

.slideout-wrapper {
    background-color: $background-main-color;
}

.grimlock--navigation-fixed-left.grimlock--navigation-fixed.single-ht_kb:not(.logged-in) {
    .site-preheader {
        display: none;
    }
}

.grimlock--navigation-fixed.single-ht_kb:not(.logged-in) {
    .site-preheader+.site-header .hamburger-navbar {
        top: 0px!important;
    }

    .grimlock-preheader+.grimlock-header #custom_header {
        margin-top: 60px;
    }
}

body {
    .btn-back-to-top {
        right: 17px;
        bottom: 100px;
    }
}

#cookie-law-info-bar {
    z-index: 2147483640;
}

.single {
    &.single-ht_kb {
        #site {
            #prefooter {
                display: none;
            }
        }
    }
}

#ht-kb-rate-article {
    margin-top: 20px;
}

div.the_champ_counter_container {
    .the_champ_sharing_ul {
        li {
            width: auto !important;
        }
    }
}

.latest-news {
    display: none;

    &.slick-initialized {
        display: block;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 10px;
        padding-bottom: 30px;
        overflow: hidden;
        
        .slick-content {
            height: 150px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 0px 10px;
            border-radius: 0.3rem;
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: #242a34;
                opacity: 0.3;
                transition: 0.3s;
            }

            .slick-overlay {
                color: #fff;
                z-index: 1;
            }

            &:hover {
                &:after {
                    opacity: 0.4;
                }
            }
        }

        .slick-dots {
            bottom: 0px;

            li button{
                &:before {
                    font-size: 15px;
                }
            }
        }
    }
}

.search-results {
    .grimlock--page-footer {
        .edit-link {
            display: none;
        }
    }
}

body {
    &:not(.logged-in) {
        nav {
            .only-logged-in {
                display: none !important;
            }
        }
    }

    &.logged-in {
        nav {
            .only-logged-in {
                display: initial;
            }

            .only-logged-out {
                display: none !important;
            }
        }
    }
}

.vertical-navbar .navbar-nav .menu-item>a i.number {

    font-size: 1rem;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
    .site-content .region__col#primary {
        padding: 0px;
    }

    .call-us-button-wrapper {
        .call-us-button-label {
            display: none;
        }
    }
    
    .latest-news.slick-initialized {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;

        .slick-dots {
            li button{
                &:before {
                    font-size: 10px;
                }
            }
        }
    }

    .navbar-nav .menu-item-call-us {
        display: none !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
    .region--9-3-cols-left .region__col--2 {
        // padding-left: 0px;
        // padding-right: 0px;
    }
}

.main-navigation .navbar-nav.navbar-nav--buddypress>.menu-item.menu-item--friends>a:before {
    content: "ïƒ€";
    font: normal normal normal 17px/1 FontAwesome !important;
}